{% extends 'error.html.twig' %}

{% block header_title %}
    <div class="container p-5 alert alert-danger text-center" role="alert">
        <strong>Oops !</strong><h1>Accès Refusé</h1>
    </div>
{% endblock %}

{% block body %}
    <p class="text-center">
        Vous ne disposez pas des droits pour accéder à cette page, <a href="{{ path('homepage') }}">cliquez ici</a> pour retourner à la page d'accueil.
    </p>
{% endblock %}
